body {
    background-image: url(Image/);
    background-size: 2400px;
    background-repeat: no-repeat;
    background-position: center;
}

.product-card {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #6F4E37;
    border-radius: 5px;
    text-align: center;
    background-color: #FED8B1;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product-card img {
    max-height: 150px;
    margin-bottom: 10px;
}

.product-card h2 {
    font-size: 1.5rem;
}

.btn-custom {
    width: 100%;
}
.btn-Add{
    background-color: #6F4E37;
    color: #FED8B1; 
}

.table-custom {
    margin-top: 20px;
    background-color: #FED8B1;
}

.table-custom th {
    background-color: #6F4E37;
    color: #FED8B1;
}

.table-custom td {
    background-color: #FED8B1;
}
.text-center{
    color: #FED8B1;
}
