.headings {
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    border-top: 10px solid #333;
    border-bottom: 10px solid #333;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    width: 50rem;
    margin: auto;
    display: flex;
}
.customer-info input {
    margin-bottom: 8px; 
}

table {
    border-collapse: collapse;
    width: 100%;
}
th {
    text-align: left;
    padding: 8px;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

input[type="radio"] {
    margin-right: 5px;
}

table, td, th {
    border: 1px solid black;
}
.order-information {
    border-collapse: collapse;
    width: 15%;
}

.order-information th, .order-table td {
    border: 1px solid;
    text-align: left;
    padding: 8px;
}

.order-details {
    border-collapse: collapse;
    width: 40%;
}

